body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f2f2f2;
}

.slide {
  display: flex;
  height: 100vh;

  background-image: url("../assets/Picture1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* Left side */
.content {
  width: 50%;
  padding: 60px;
}

.logo img {
  width: 120px;
  margin-bottom: 40px;
}

.welcome {
  font-size: 18px;
  color: #555;
}

h1 {
  font-size: 40px;
  margin: 10px 0;
  color: #222;
}

.description {
  font-size: 16px;
  color: #444;
  max-width: 400px;
  margin-bottom: 30px;
}

.start-btn {
  padding: 10px 25px;
  border-radius: 20px;
  border: 2px solid orange;
  background: transparent;
  cursor: pointer;
  font-size: 16px;
}

.start-btn:hover {
  background: orange;
  color: white;
}

/* Bottom info */
.bottom-info {
  position: absolute;
  bottom: 30px;
  display: flex;
  gap: 20px;
}

.info-box {
  border: 1px solid #aaa;
  padding: 10px 20px;
  border-radius: 20px;
  font-size: 14px;
  background: white;
}

/* Right side image */
.image-section {
  width: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-section img {
  width: 90%;
  height: auto;
}

